html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Maven Pro', sans-serif;
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: radial-gradient(#F0F0F0, #FFF);
}

b, strong { font-weight: bold }
i, em { font-style: italic }

a {
    color: #3797FF;
    text-decoration: none;
    padding: 0.1em;
    border-radius: 0.2em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

a:hover,
a:focus {
    background: rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 120px;
    line-height: 120px;
}

h2 {
    font-size: 60px;
    line-height: 60px;
}